 .articles {
    border: 1px solid #CBDDDD;
    width: 564px;
    float: left;
    font: 12px Verdana;
}	
   .title {
        font-size: 0.8em;
        text-transform: uppercase;
        background: url(../Images/header1.gif) no-repeat center 0;
        color: #ffffff;
        width: 175px;
        text-align: center;
        padding: 1px 0 3px;
        margin-bottom: 10px;
    margin-top: 0;
    }
     